# PostgreSQL
POSTGRES_DB=notiuam
POSTGRES_USER=notiuam
POSTGRES_PASSWORD=notiuam_dev_pass
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_UI_PORT=8080

# Backend
BACKEND_PORT=8081
JWT_SECRET=change_me_in_prod_please_use_a_very_long_random_secret_at_least_256_bits
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=604800000